header {
  background-color: #c9c9c9;
}

.nav {
  background-color: gray;
  padding: 20px;
}

body {
  font-family: sans-serif;
  background-color: #e3e3e3;
}

.column1 {
  max-width: 67%;
  float: left;
  background-color: #9ad3de;
  min-height: 700px;
}

.column2 {
  max-width: 33%;
  float: left;
  background-color: #89bdd3;
  min-height: 700px;
}
